API_KEY=
PERMITTED_IPS=
DEVICE_NAME=NodeTest
ENVIRONMENT=SANDBOX
ENCRYPTION_KEY=3c7a4d431a846ed33a3bb1b1fa9b5c26

# value 'development' will enable verbose logging, else it'll default to warn/error only
# NODE_ENV=development
NODE_ENV=production